@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&display=swap');

body{
    background: rgb(20, 20, 20);
    color: white;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.perfil{
    display: block;
    box-shadow: #353333;
    background-color: #353333;
    margin: 20px 36%;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 40px;
    width: 380px;
    border-radius: 14px;
}
a{
    font-family: "Roboto", sans-serif;
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #474141;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: transform 0.1s ease;
}
a:hover{
    background-color: aqua;
    color: black;
    transform: scale(1.1);
}
.description{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
}
.ender{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 25px;
    color: rgb(241, 220, 29);
    margin-top: 0;
}
h1{
    margin-bottom: 0;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
}
